@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search  {
    width: 100%;
    position: relative
} 
.searchTerm  {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus  {
    color: #00B4CC;
}
.searchButton  {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.wrap  {
    width: 30%;
    position: absolute;
    top: 25px;
    right: 55px;
    transform: translate(0%, -50%);
  }
#headingPic  {
    float: left;
    height: 100px;
    width: auto;
    padding-right: 20px
}
#mainHeading  {
    font-family: Helvetica;
    position: relative;
    top: 30px;
    padding-top: 25px;
    left: 20%;
    margin-bottom: 50px;
    font-size: 32pt;
}
#subHeading  {
    text-align: center;
}
#logInButton, #cartButton  {
    position: relative;
    Float: right;
    border: 3px solid #00B4CC;
    color:  #00B4CC;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 12pt;
    bottom: 10px;
}
#logInButton:hover, #cartButton:hover  {
    position: relative;
    Float: right;
    border: 3px solid #00B4CC;
    color: white;
    background-color: #00B4CC;
    border-radius: 5px;
    padding: 10px;
    font-size: 12pt;
    bottom: 10px;
}
.siteLinksLi  {
	display: inline;
	font-family: Helvetica;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}
#siteLinksList {
    text-align: left;
    font-size: 18pt;
    padding: 20px;
    background-color: #00B4CC;
}
.NavHyperLinks {
    color: white;
    text-decoration: none;
}
.articlePic1  {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
#colorBox  {
    background-color: #00B4CC;
    height: 25px;
}
footer  {
    text-align: center;
}